@charset "utf-8";


html,body{margin:0;padding:0; font-family: Lato;}



.main-background{background-color: #eef0f3;}

.container{
	margin: auto;
	height: 100vh;
	max-height: 100vh;
	max-width: 730px;
	width: 100%;

}
.header{
	display: flex; 
	justify-content: space-between;
	.logotype{
	margin: 30px 20px 20px 5px;
	}
}



.button-exit{
	 background:none;
	 border:0;
	 color: #4185F7;
	 margin: 15px 0px 20px 15px;
	 height: 50px;
	 width: 200px;
	 outline: none;
	 text-align: right;
	 font-size: 16px;
	 font-style: normal;
	 font-weight: bold;
	 &:hover, active{
		border:0;
		outline: none;
		cursor: pointer;
	}
	object{
	height: 12px;
	color: #4185f7;
	}
}
.button-exit
.button-exit:active{
	border:0;
	outline: none;
}

.main-content{
	box-shadow: 0px 4px 60px rgba(65, 133, 247, 0.05);
	border-radius: 8px;
	padding-top: 12px;
	background-color: #fff;
	max-height: 100%;
	margin:auto;
}
.title-main-content{
	margin-top: 50px;
	font-size: 22px;
	text-align: center;
	font-style:normal;
	font-weight: bold;
}

.name-main-content{

	font-style: normal;
	font-weight: normal;
	color: #383E48;
	font-size: 14px;
	line-height: 17px;
	vertical-align: top;
	text-align:center;
	object{
	height: 16px;
	width:14px;
	margin-right: 10px;
	}
}
.text-main-content{
	text-align: left;
	margin-top: 30px;
	font-size: 18px;
	padding-left:40px;
	padding-right:40px;
}

.password-form-container{
    border-bottom-right-radius:  20px;
    border-bottom-left-radius:  20px;
	padding-top:30px;
	padding-bottom:30px;
 	background-color:#f5f8fc;
 	.password-form-blocks{
		display: flex;
		flex-direction: row;
		justify-content: center;
		}
		span{	
		margin-right: 25px;
		font-size: 16px;
		line-height: 28px;
		vertical-align: middle;

		}
		input{
		outline: none;
		height: 30px;
		border-top-left-radius:  100px;
		border-bottom-left-radius: 100px;
		margin: 0;
		border: 1px solid gray;
		padding-left: 10px;
		&:hover, active{outline: none;}

		}
		.enter-button{
		width: 120px;
		outline: none;
		height: 34px;
		background-color: #4383ff;
		border:0;
		border-top-right-radius:  100px;
		border-bottom-right-radius:  100px;
		margin: 0;
		color: #fff;
		&:hover{
		cursor: pointer;
		}
		}
		object{
		height: 12px;
		width:18px;
		}
		.eye-button{
		margin-left: -35px;
		margin-top: 10px;
		border:0;
		z-index: 2;
		position: absolute;
		background: #fff;
		outline: none;
		&:hover
		{
		cursor:pointer;outline: none;
		}
		}
}





/*responsive css*/
@media (max-width: 732px) {
body{padding-left:10px;padding-right:10px;}}
@media (max-width: 651px) {

.main-content{
	height:initial;}

.password-form-container{

.password-form-blocks{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
 span{  margin-right: 0;margin-left:-180px; }
 input{

 	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	margin-top: 10px;
	}
.enter-button{
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	width:370px;
	margin-top: 10px;
	}
.eye-button{margin-top: 20px;}
}
}